.navbar{
    background: rgb(30,30,30);
    height: 5rem;
    width: 100vw;
    max-width: 90rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    scroll-behavior: smooth;

}
.logo{
    object-fit:cover;
    height: 5rem;
    width: 9rem;
}
.list{
    margin:1rem;
    cursor: pointer;
}
.list:hover{
    color: rgb(176, 176, 48);
    padding-bottom:0.5rem  ;
    border-bottom: 3px solid yellow ;
    transition: width 0.3s ease;
     transition-delay: 1000ms;
    transform: scale(3.);
}

.Menubtn{
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;

}
.Image{
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}